{
  "presets": ["@babel/preset-env", "@babel/preset-typescript", "@babel/react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "import",
      {
        "libraryName": "antd",
        "style": "less"
      },
      "antd"
    ]
  ]
}
