# Logs
logs
*.log
npm-debug.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules

# Optional npm cache directory
.npm
package-lock.json

.DS_Store

# vscode editor
.vscode


# gatsby files
.cache/
public
