body {
      margin: 50px auto;
    background: rgba(158, 158, 158, 0.23);
  line-height: 1;
  font-family: 'Pingfang SC', 'Lantinghei SC', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-print-color-adjust: exact;
  letter-spacing: 1px;
}
div#root {
    background: rgb(255, 255, 255);
    padding: 80px 64px;
    width: 1211px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: inherit;
}

ul, ol {
  list-style-type: none;
}

img {
  border: none;
  /* vertical-align: top; */
}

a, a:visited {
  text-decoration: none;
  color: #000;
}

/*公共样式*/
section {
    margin: 20px auto;
}
.section-header {
  margin-bottom: 10px;
  line-height: 1.2;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  font-size: 22px;
  border-bottom: 1px solid rgb(221, 221, 221);
}
.section-header_title,
.section-header_subtitle {
  display: inline-block;
  font-weight: 600;
  font-family: 'Microsoft JhengHei', 'Microsoft YaHei', 'STHeiti SC', 'SimHei';
}

.section-header_subtitle{
  margin-left: 8px;
  font-size: 18px;
  font-weight: normal;
  color: #999;
}
.section-body{
   display: flex;
}

.list > li {
  list-style: none;
  margin-left: 1.3em;
}
.list > li i {
  margin:0 20px 0 -7px;
}
.content {
  margin: 8px 20px 8px 0;
  line-height: 1.5;
  text-align: justify;
}

/*基本信息*/
header {
    /*不用于打印*/
    margin: 10px auto 23px;
}
.header-logo {
  height: 40px;
  line-height: 40px;
  margin-bottom:5px;
}

.header-logo_fullname {
  font-size: 38px;
  font-family: 'PingHei', 'STHeiti SC', 'SimHei';
  margin-left:10px;
}

.header-logo_jobtitle {
  padding-left: 10px;
  font-size: 18px;
  color: #888;
}
.primary-info{
  display: flex;
  position: relative;
  margin: auto 35px;
}
.primary-info-list{
  flex:1;
}
.primary-info-list::before {
  width: 1px;
  content: '';
  position: absolute;
  height: 24px;
  background: linear-gradient(to bottom,rgb(255, 255, 255) 80%,rgba(158, 158, 158, 0.05) 95%,rgba(158, 158, 158, 0.41));
  top: -14px;
  left: 0;
}
.primary-info-list::after {
  width: 1px;
  content: '';
  position: absolute;
  height: 22px;
  background: linear-gradient(to bottom,rgb(255, 255, 255) 80%,rgba(241, 238, 238, 0.05) 95%,rgba(158, 158, 158, 0.41));
  top: -12px;
  z-index: 99;
}
.primary-info-list_contact{

}
.primary-info-list-item{
 border-left: 1px solid rgba(158, 158, 158, 0.66);
  position: relative;
  padding: 10px 8px 0;
  line-height: 14px;
}
.primary-info-list>li::before {
  position: absolute;
  content: "";
  top: 16px;
  left: -2.5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.primary-info-list>li:nth-child(n+1)::before {
  background: rgb(63, 81, 181);
}

.primary-info-list>li:nth-child(n+2)::before {
  background: rgb(0, 188, 212);
}

.primary-info-list>li:nth-child(n+3)::before {
  background: rgb(255, 87, 34);
}
/*图标*/
i.fa.fa-phone-square {
  color: rgb(154, 205, 50);
}

i.fa.fa-envelope {
  color: rgb(244, 67, 54);
}
i.fa.fa-rss-square {
    color: rgb(65, 105, 225);
}


/*技能*/
.skill-list--master{
  flex:3;
}
.skill-list--practised{
  flex:2;
}
.skill-list-item_name{
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  border-left: 3px solid;
  background-color: #fff6dd;
  border-color: #fdbc40;
  overflow: hidden;
  color: #ff742a;
}
.skill-list-item{
   margin-right:20px;
}

.skill-list--practised .skill-list-item_name{
  color: #6e9c0f;
  background-color: #eaf6d0;
  border-color: #80bd01;
}

/*经验*/
.experience{

}
.experience-list-item{
  display: flex;
  align-items: center;
}
.experience-list-item_img{
  width: 64px;
  margin: -30px 20px 0 -25px;
}
.experience-list-item_title{
 position: relative;
  margin-bottom: 6px;
  line-height: 20px;
  font-weight: bold;
}
.experience-list-item_title i{
  margin:0 20px 0 10px;
}
.experience-list-item_detail p{
   text-indent: 40px;
}
.experience-list-item .ref{
       color: rgb(74, 72, 72);
    font-style: italic;
    padding: 7px 10px;
    margin: 2px 31px 12px;
    border-radius: 5px;
    background: rgb(3, 169, 244);
    display: inline-block;
}
.experience-list-item .ref:hover{
  background: rgb(33, 150, 243);
}
/*自我评价*/
#appraisal p{
  text-indent: 39px;
  line-height: 1.5em;
}

/*侧边工具栏*/
.toolBox{
 position: fixed;
    top: 40%;
    right: -97px;
    transition: all 200ms;
    background-color: rgb(14, 144, 210);
    border-color: rgb(14, 144, 210);
    border-radius: 1000px;
    cursor: pointer;
    padding: 5px 30px 5px 30px;
    text-align: center;
    font-size: 18px;
}
.toolBox li{
  margin:8px;
}
.toolBox input[type='button']{  
    font-size:18px;
    white-space: nowrap;
    background: none;
    border: none;  
    outline: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color .3s ease-out,border-color .3s ease-out;
    transition: background-color .3s ease-out,border-color .3s ease-out;
    color: rgb(255, 255, 255);
    
}
.toolBox a{
  color: #fff;
}
.toolBox:hover{
  right:10px;
}
.hidden_for_print{
  display: none;
}