@import "./variables.less";
.fullSection {
    display: flex;
    background: @white;
    margin: 0 auto;
    box-shadow: @main-box-shadow;
    position: relative;
    .leftSection{
        border-right: @main-border;        
        padding: @desktopGutter;
        flex: 1;
        width: 200px;
        width: auto;
        min-width: 200px;
    }
    .rightSection {
        flex: 3;
        padding: @desktopGutter;
    }
    .sider-bar-drawer {
        .color-group span{
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    .buttonGroupSection {
        position: absolute;
        top:0;
        right:0;
    }
    @media print{
        .buttonGroupSection{
            display: none;
        }
    }
}