.language-switcher {
  margin: 0 7px;
  display: inline-block;
  font-size: 12px;

  .divider {
    padding: 0 4px;
  }

  span.lang {
    &.unselected {
      color: rgba(255, 255, 255, 0.25);
      cursor: pointer;
    }
  }
}
