@import '@/less/variables.less';

section {
  margin: 20px auto;
  .section-header {
    margin-bottom: 10px;
    line-height: 1.2;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    font-size: 22px;
    border-bottom: @main-border;
  }
  .section-header_title,
  .section-header_subtitle {
    display: inline-block;
    font-weight: 600;
    font-family: 'Microsoft JhengHei', 'Microsoft YaHei', 'STHeiti SC', 'SimHei';
  }
  .section-header_subtitle {
    margin-left: 8px;
    font-size: 18px;
    font-weight: normal;
    color: @deep-grey;
  }
  .section-body {
    display: flex;
  }
}

header {
  /*不用于打印*/
  margin: 10px auto 23px;
  .header-logo {
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
  }
  .header-logo_fullname {
    font-size: 38px;
    font-family: 'PingHei', 'STHeiti SC', 'SimHei';
    margin-left: 10px;
  }
  .header-logo_jobtitle {
    padding-left: 10px;
    font-size: 18px;
    color: @deep-grey;
  }
}

.primary-info {
  position: relative;
  margin: auto 35px;
}

.primary-info-list {
  column-count: 2;
  column-gap: 5px;
}

.primary-info-list::before {
  width: 1px;
  content: '';
  position: absolute;
  height: 24px;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 80%,
    rgba(158, 158, 158, 0.05) 95%,
    rgba(158, 158, 158, 0.41)
  );
  top: -14px;
  left: 0;
}

.primary-info-list::after {
  width: 1px;
  content: '';
  position: absolute;
  height: 22px;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 80%,
    rgba(241, 238, 238, 0.05) 95%,
    rgba(158, 158, 158, 0.41)
  );
  top: -12px;
  z-index: 99;
}

.primary-info-list_contact {
}

.primary-info-list-item {
  border-left: @main-border;
  position: relative;
  padding: 10px 8px 0;
  line-height: 14px;
  white-space: pre; // 不分行
}

.primary-info-list > li::before {
  position: absolute;
  content: '';
  top: 16px;
  left: -2.5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.primary-info-list > li:nth-child(n + 1)::before {
  background: rgb(63, 81, 181);
}

.primary-info-list > li:nth-child(n + 2)::before {
  background: rgb(0, 188, 212);
}

.primary-info-list > li:nth-child(n + 3)::before {
  background: rgb(255, 87, 34);
}

/*图标*/

i.fa.fa-phone-square {
  color: rgb(154, 205, 50);
}

i.fa.fa-envelope {
  color: rgb(244, 67, 54);
}

i.fa.fa-rss-square {
  color: rgb(65, 105, 225);
}

/*技能*/
.skill-list--master {
  // column-count: 2; // TODO:打印时候 再分栏
}
.skill-list-item_name {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-left: 3px solid;
  overflow: hidden;
}

.skill-list-item {
  margin-right: 20px;
}

/*经验*/

.experience-list-item {
  display: flex;
  align-items: center;
}

.experience-list-item_img {
  width: 64px;
  margin: -30px 20px 0 -25px;
}

.experience-list-item_title {
  position: relative;
  margin-bottom: 6px;
  line-height: 20px;
  font-weight: bold;
  color: @deep-blue;
}

.experience-list-item_title i {
  margin: 0 20px 0 10px;
}

.experience-list-item_detail p {
  text-indent: 40px;
}

.experience-list-item .ref {
  color: rgb(74, 72, 72);
  font-style: italic;
  padding: 7px 10px;
  margin: 2px 31px 12px;
  border-radius: 5px;
  background-color: @blue-background-color;
  display: inline-block;
}

.experience-list-item .ref:hover {
  background-color: @blue-background-color-hover;
}

* {
  box-sizing: border-box;
}
@media print {
  @page {
    size: A4;
  }
  body {
    margin: 0 !important;
  }
  .rightSection {
    padding: 0 !important;
  }
}
// .resume-one {
//   font-family: PingFangSC;
//   font-size: 14px; // normal-font-size
//   color: @white;
//   width: 794px;
//   height: 1123px;
//   display: flex;
//   overflow: hidden;
//   * {
//     margin: 0;
//     padding: 0;
//   }
//   img,
//   img + * {
//     display: inline-block;
//   }
//   img {
//     vertical-align: bottom;
//     margin-right: 10px;
//   }
//   ul li {
//     list-style: none;
//   }
//   .icon-lg {
//     width: 32px;
//     height: 32px;
//   }
//   .icon-md {
//     width: 24px;
//     height: 24px;
//   }
//   .icon-sm {
//     width: 16px;
//     height: 16px;
//   }
//   .list-item-lg {
//     font-size: 18px;
//     line-height: 28px;
//   }
//   .list-item-md {
//     font-size: 14px;
//     line-height: 23px;
//   }
//   .list-item-sm {
//     font-size: 12px;
//     line-height: 20px;
//   }
//   .basic-info-box {
//     flex: 1;
//     padding: 18px;
//     h1,
//     h2,
//     h3,
//     h4,
//     h5 {
//       color: #fff;
//     }
//     // background: @deep-blue;
//     .basic-info-list {
//       width: 100%;
//       padding: 0 15px 0 10px;
//       .basic-info-list-item {
//         margin-bottom: 30px;
//         min-height: 100px;
//         .title {
//           font-weight: 600;
//           font-size: 20px;
//           line-height: 32px;
//         }
//         .content {
//           margin: 12px 0 24px 8px;
//         }
//         .list-item-md img {
//           width: 18px;
//           height: 18px;
//           vertical-align: middle;
//         }
//       }
//     }
//   }
//   .main-info-box {
//     flex: 2;
//     height: 100%;
//     padding: 33px 35px 33px 20px;
//     background: @main-background-color;
//     section {
//       margin-bottom: 12px;
//       .section-header {
//         margin-bottom: 10px;
//         h1 {
//           position: relative;
//           font-size: 18px;
//           font-weight: bold;
//           color: @white;
//           width: 200px;
//           width: max-content;
//           line-height: 26px;
//           padding: 0 100px 0 10px;
//           border-top-left-radius: 3px;
//           border-bottom-left-radius: 3px;
//         }
//         h1:before {
//           content: "";
//           display: block;
//           width: 18.4px;
//           height: 18.4px;
//           z-index: 99;
//           background: #f2f2f2;
//           position: absolute;
//           right: -9px;
//           top: 4px;
//           transform: rotate(45deg);
//         }
//       }
//       .section-body {
//         .section-list-item {
//           margin-bottom: 10px;
//           cursor: pointer;
//           cursor: -webkit-grab;
//           .section-list-item__title {
//             font-weight: 600;
//             font-size: 16px;
//             line-height: 22px;
//             color: @light-black;
//             position: relative;
//             border-left: 3px solid orange;
//             padding-left: 5px;
//             .star-group {
//               position: absolute;
//               right: 0;
//               i {
//                 width: 22px;
//                 height: 22px;
//                 color: @white;
//               }
//             }
//           }
//           .section-list-item__content {
//             font-size: 14px;
//             line-height: 20px;
//             color: @deep-grey;
//             margin-left: 10px;
//           }
//         }
//       }
//     }
//   }
// }
